<!DOCTYPE html>
<html lang="en">
  <body>
    <!-- Start of Content-->
    <h2>About</h2>
    <div>
      <p>
        Sup dudes, My name is Travez and I'm here to say; " I want to make
        websites in a crazy way, BOYYYYYY!!"
      </p>
    </div>
    <!-- End of Content-->
  </body>
</html>
