<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/header %>
  </head>

  <h2>Thanks</h2>

  <body>
    <div></div>
    Thank you <%= contact.firstName %> <%=contact.lastName %>. 
    
    <% include ./partials/footer %>

  </div>
  </body>
</html>
