<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ./partials/header %>
  </head>

  <title>Thank you from your boy, Travez!</title>

  <body>
   
      Thank you <%= contact.firstName %> <%= contact.lastName %>.
    
    

        <%  include ./partials/footer %>
</body>
</html>
