<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/header %>
  </head>

  <h2>Thanks</h2>

  <body>
    Thank you <%= contact.firstName %> <%=contact.lastName %>. <% include
    ./partials/footer %>
  </body>
</html>
