<!DOCTYPE html>
<html lang="en">


  <head>
    <title>Thank you from your boy, Travez!</title>
  </head>
  <body>
    <div>
      Thank you <%= contact.firstName %> <%= contact.lastName %>.
    </div>
  </body>
</html>
